.marker {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  left: -8px;
  top: -8px;
  border-radius: 50%;
  z-index: 1;
}

.canvas {
  border: 1px solid black;
  display: block;
}

.marker:hover {
  cursor: pointer;
}

.marker.clicked:hover {
  cursor: grab;
}

.canvas-container {
  position: relative;
}

.quad {
  position: absolute;
}
