html, body, main {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 10px;
}

main {
  padding: 0 15px;
  margin: 0;
  font-family: courier;
}

$marker-size: 16px;

button {
  font-family: verdana;
}

.marker {
  width: $marker-size;
  height: $marker-size;
  background-color: transparent;
  position: absolute;
  left: -$marker-size / 2;
  top: -$marker-size / 2;
  border: 2px solid #00FF00;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &.clicked:hover {
    cursor: grab;
  }
}

.canvas-container {
  position: relative;
}

.canvas {
  display: block;
}

.quad {
  position: absolute;
}
